# =========================
# API (.env) FOR PRODUCTION
# =========================

DATABASE_URL="file:./dev.db"
PORT=10000
NODE_ENV=production
WEB_ORIGIN=https://task-forge-web-yx45.vercel.app
JWT_ACCESS_SECRET=TaskForgeAccessSecret123456
JWT_REFRESH_SECRET=TaskForgeRefreshSecret123456
JWT_ACCESS_EXPIRES=15m
JWT_REFRESH_EXPIRES=7d